*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.wrap{
   max-width: 1140px;
   margin: 0 auto;
}


        /* -- Блок меню -- */
.header{
    background-color: #222222; 
}

.header-flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 18px 0;
}

.search-icon-link{
    margin-right: 41px;
}

.menu-icon-link{
    margin-left: 33px;
}

.basket{
    display: inline-block;
    position: relative;
}

.menu-basket-link{
    margin-right: 11px;
}

.in-the-basket{
    width: 19px;
    height: 19px;
    background-color: #F16D7F;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: -6px;
    text-align: center;
    color: #FFFFFF;
}


        /* -- Блок Промо -- */
.promo{
    background: linear-gradient(to right,rgba(113, 103, 105, 0.08) 50%, #F1E4E6 50%);
}

.promo-flex{
    display: flex;
}

/* Надо будет избавиться от фиксированных размеров */
.promo-left{
    position: relative;
    max-width: 50%;
    width: 570px;
    height: 765px;
}

.promo-img{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
} 

/* Надо будет избавиться от фиксированных размеров */
.promo-right{
    width: 570px;
    height: 765px;
    display: flex;
    align-items: center;
    padding-left: 92px;
}

.promo-text{
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
}

.promo-text-1{
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
    text-transform: uppercase;
}

.promo-text-2{
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
    text-transform: uppercase;
}

.promo-text-3{
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color:#F16D7F;
    text-transform: uppercase;
}


        /* -- Блок Категории -- */
.categories{
    background-color: #FFFFFF;
}

.categories-flex{
    padding: 64px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.categories-items{
    position: relative;
    display: flex;
    align-content: center;
    margin-bottom: 30px;
}

.categories-text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(33, 22, 22, 0.7);
}

.categories-text-1{
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.categories-text-2{
    font-weight: 700;
    color: #F16D7F;
    font-size: 24px;
    line-height: 29px;
}
.categories-img{
    max-width: 100%;
    max-height: 100%;
}


        /* -- Блок Продуктов -- */
.products{
    background-color: #FFFFFF;
}

.products-content{
    text-align: center;
    margin-bottom: 47px;
}

.products-content-h1{
    font-size: 30px;
    line-height: 36px;
    margin: 0;
    margin-bottom: 6px;
}

.products-content-p{
    color: #9F9F9F;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
}

.products-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product{
    max-width: 360px;
    margin-bottom: 30px;
    background-color: #F8F8F8;
}

.product-img-block{
    position: relative;
}

.product-img{
    width: 100%;
}

.back-product{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
}

.back-product-text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    background-color:rgba(58, 56, 56, 0.86);
}
.product:hover .back-product{
    display: block;
}

.btn-back-product{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px; 
    line-height: 17px; 
    width: 133px;
    height: 44px;
    outline: 1px solid #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.basket-back-product{
    margin-right: 11px;
}

.product-text{
    margin: 24px 18px 20px 18px;
}

.product-text-h2{
    font-size: 13px; 
    line-height: 16px;
    color: #000000;
}

.product-text-p{
    font-size: 14px; 
    line-height: 17px;
    color: #5D5D5D;
}

.product-text-price{
    font-size: 16px; 
    line-height: 19px;
    color: #F16D7F;
}

.browse-all-product{
    display: flex;
    justify-content: center;
}
.btn-all-product{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 212px;
    height: 48px;
    outline: 1px solid #FF6A6A;
    text-decoration: none;
    color: #FF6A6A;
    font-size: 16px;
    line-height: 19px; 
    margin-top: 18px;
    margin-bottom: 95px;
}

.btn-all-product:hover{
    background-color: #FF6A6A;
    color: #FFFFFF;
}


        /* -- Блок Преимуществ -- */
.advantages{
    background-color: #222224;
}

.advantages-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.advantages-block{
    max-width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 91px;
    margin-bottom: 104px;
}

.advantages-block-h2{
    font-size: 20px;
    line-height: 24px;
    color: #FBFBFB;
    margin: 0;
    margin-top: 28px;
    margin-bottom: 16px;
}

.advantages-block-p{
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #FBFBFB;
    margin: 0;
}


        /* -- Блок Обратной связи -- */
.feedback{
    background-color:#efefef;
}

/* Разобраться с фоном */
.feedback-img{
    background-image: url(img/feedback-img.png) ;
    background-repeat: no-repeat;
}

.feedback-content{
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.avatar{
    max-width: 360px;
    max-height: 225px;
    margin-top: 97px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* Разобраться с блоком submit и формой */
.subscribe{
    width: 557px;
    max-height: 142px;
    margin-bottom: 156px;
    display: flex;
    justify-content: center;
    margin-top: 145px;
}

.subscribe-block{
    max-width: 356px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.subscribe-1{
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;
    color: rgba(34, 34, 36, 1);
}

.subscribe-2{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.forma{
    position: relative;
}

.input-subscribe{
    width: 356px;
    height: 49px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    background-color: #E1E1E1;
    padding-left: 22px;
    padding-right: 122px;   
    color: #222224;
    line-height: 17px;
    font-size: 14px;
    border: none;
    outline: none;
}


.input-submit{
    width: 100px;
    height: 49px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    background-color: #F16D7F;
    border: none;
    position: absolute;
    right: 0;
    color:#FFFFFF;
    
}


        /* -- Блок Подвала -- */
.footer{
    background-color: #222224;
    width: 100%;
    height: 100%;
}

.footer-flex{
    display: flex;
    justify-content: space-between;
}

.copyright{
    padding: 30px 0;
}

.copyright-p{
    margin: 0;
    color: #FBFBFB;
    font-size: 16px;
    line-height: 19px;
}

.messanger{
    display: flex;
    align-items: center;
}

.fon-img{
    height: 32px;
    width: 32px;
    background-color: #FFFFFF;
    margin-left: 7px;
}

.fon-img:hover{
    background-color: #F16D7F;
    color: #FFFFFF;
}


/* ---------------- Catalog.html ---------------- */
/* ---------------------------------------------- */

.new-arrivals{
    background-color: #F8F3F4;
}
.new-arrivals-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.new-arrivals-h2{
    color: #F16D7F;
    font-size: 24px;
    line-height: 29px;
    margin: 60px 0;
}

.new-arrivals-choose-link{
    text-decoration: none;
    color: #636363;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}

.new-arrivals-choose-link-active{
    color: #F16D7F;
}

summary::-webkit-details-marker {
    display: none;
}

.sorting{
    display: flex;
    align-items: baseline;
}

.filter-block{
    margin-right: 318px;
    margin-top: 51px;
    margin-bottom: 64px;
    position: relative;
}

.filter-p{
    display: inline-block;
    margin: 0;
    margin-right: 11px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    
    text-transform: uppercase;
}

.filter-open{
    position: absolute;
    top: 0;
    left: 0;
    width: 360px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 1;
    padding: 16px;
    display: none;
}

#filter, #trending-now, #size, #price{
    visibility: hidden; 
    left: -999999px;
    position: absolute;
 }

 #filter:checked ~ .filter-open{
    display:block;
    color: #EF5B70;
}

.filter-summary{
    width: 327px;
    height: 27px;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    display: flex;
    align-items: center;
    padding-left: 11px;
    border-left: 5px solid #EF5B70;
    outline: none;
    margin-top: 16px;
    border-bottom: 1px solid #EBEBEB;
    text-transform: uppercase;
}

.designer{
    display: flex;
    flex-direction: column;
    margin: 13px 0 24px 16px;
}

.designer-link{
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    margin-top: 11px;
}

.trending-now-block, .size-block{
    margin-right: 28px;
}

.trending-now-p, .size-p,.price-p{
    display: inline-block;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    margin: 0;
    margin-right: 10px;
}

.arrow-img{
    margin-bottom: 2px;
}

.size-open{
    width: 79px;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 1;
    padding: 9px 7px;
    display: none;
}

.size-choose-block{
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}

.size-choose-p{
    display: inline-block;
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #6F6E6E;
    margin-left: 9px;
}

.size-label{
    margin-left: 0px;
}

#size:checked ~ .size-open{
    display: block;
}

.size-block{
    position: relative;
}

.pagination{
    width: 284px;
    height: 44px;
    outline: 1px solid #EBEBEB;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 18px;
    margin-bottom: 96px;
}

.pagination-ul{
    display: flex;
    padding: 0;
}

.pagination-list{
    list-style-type: none;
}

.pagination-link{
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    color: #C4C4C4;
}

.pagination-arrow{
    margin-top: 3px;
}

.pagination-link-padding-right{
    margin-right: 20px;
}

.pagination-link-active{
    color: #EF5B70;
}